<option></option>
<option value="ALC">Alcoholic Beverages</option>
<option value="ANT">Antiques & Collectibles </option>
<option value="AUD">Audio Equipment </option>
<option value="AUT">Automotive Parts & Accessories </option>
<option value="BAB">Baby & Infant & Children Product </option>
<option value="BIG">Big Electrical Appliance</option>
<option value="BOO">Books</option>
<option value="CAM">Camera & Camcorder </option>
<option value="CLO">Clothing</option>
<option value="COF">Coffee</option>
<option value="COM">Computer & Tablet </option>
<option value="ELE">Electronics</option>
<option value="EYE">Eyeglasses & Contact Lens </option>
<option value="FLO">Flower Shops</option>
<option value="GRE">Greeting Card </option>
<option value="GRO">Grocery </option>
<option value="GUN">Gun & Ammunition </option>
<option value="HAN">Handbag & Luggage </option>
<option value="HAR">Hardware & Tool </option>
<option value="HOB">Hobby & Craft Supplies </option>
<option value="HOM">Home Appliance</option>
<option value="HOM">Home Furniture & Furnishing </option>
<option value="IND">Industrial Machinery & Equipment</option>
<option value="IND">Industrial Supplies</option>
<option value="JEW">Jewelry & Watch</option>
<option value="KIT">Kitchenware</option>
<option value="MED">Medical Supplies</option>
<option value="MUS">Musical Instruments</option>
<option value="OFF">Office & School Supply</option>
<option value="OFF">Office Equipment </option>
<option value="OFF">Office Furniture</option>
<option value="OUT">Outdoor Furniture</option>
<option value="PAI">Paint</option>
<option value="PER">Perfume & Cosmetic</option>
<option value="PET">Pet Food & Pet Supply</option>
<option value="PHA">Pharmaceutical</option>
<option value="PLU">Plumbing & Electrical Supply</option>
<option value="SEA">Seasonal Decorations</option>
<option value="SHO">Shoes</option>
<option value="SMA">Small Electrical Appliance</option>
<option value="SMA">Smartphones</option>
<option value="SPO">Sporting Goods & Apparel</option>
<option value="STA">Stationery Products</option>
<option value="SUN">Sunglasses</option>
<option value="TOY">Toys</option>
<option value="VID">Video Game</option>
<option value="VIT">Vitamin & Supplement</option>
