{% extends "base_main.html" %}
{% load static %}

{% block html_class %}class="fullscreen-bg"{% endblock html_class %}

{% block main_content %}

  <div id="wrapper">
			<div class="vertical-align-wrap">
				<div class="vertical-align-middle">
          <div class="col-md-10 col-md-offset-1 center-it">
            <p class="lead"><h1>This button would have started download of the document containing input guidelines for the template file.</h1></p>
            <p><h3>(Please assume that this page exists. Go back by clicking on button below)</h3></p>
            <br>
          </div>

					<div class="col-md-6 col-md-offset-3">
						<div class="left">
							<div class="content">
              <div class="text-center">{% block go-back-link %}{% endblock %}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock main_content %}
