<div id="sidebar-nav" class="sidebar" xmlns="http://www.w3.org/1999/html">
  <nav>
    <ul class="nav" id="sidebar-nav-menu">
      <li class="panel">
{#        <li><a href="{% url 'home' %}"><i class="fa fa-home" id="go-back-home"></i> <span class="title">Home</span></a></li>#}
      </li>

{#      <li class="panel">#}
{#        <li><a href=""><i class="ti-user"></i><span class="title">Users</span></a></li>#}
{#      </li>#}
{#      <li class="panel">#}
{#        <li><a href=""><i class="ti-wand"></i><span class="title">Authorizations</span></a></li>#}
{#      </li>#}
    </ul>

  </nav>
</div>
