{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
{#    <a href="/">#}
{#      <img src="{% static 'img/logo-white.png' %}" alt="sitWolf Logo" class="img-responsive logo">#}
{#    </a>#}
  </div>
  <div class="container-fluid">
{#    <div id="tour-fullwidth" class="navbar-btn">#}
{#      <button type="button" class="btn-toggle-fullwidth"><i class="ti-arrow-circle-left"></i></button>#}
{#    </div>#}
{#    <form class="navbar-form navbar-left search-form">#}
{#      <input type="text" value="" class="form-control" placeholder="Search...">#}
{#      <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>#}
{#    </form>#}
    <div id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">#}
{#            <i class="ti-bell"></i>#}
{#            <span class="badge bg-danger">5</span>#}
{#          </a>#}
{#        </li>#}
        <li>
        <li>

{#          <li><a href="{% url 'home' %}"><i id="go-back-home" class="ti-home"></i></a></li>#}
{#                <li><a href="{% url 'benchmarking:benchmark-home' %}"><i class="fa fa-tachometer"></i> <span></span></a></li>#}

{#        </li>#}
{#          <li><a><i id="tour-help" class="ti-help"></i></a></li>#}
{#        </li>#}
{#        <li>#}
{#          <li id="log-out-button"><a href="{% url 'logout-page' %}"><i class="ti-power-off"></i> <span>Logout</span></a></li>#}
{#        </li>#}
      </ul>
    </div>
  </div>
</nav>
