{% extends "account/base.html" %}
{% load i18n compress %}
{% load crispy_forms_tags %}



{% block content %}


<!-- MAIN CONTENT -->
				<div class="main-content">
					<div class="container-fluid">
						<div id="demo-wizard" class="wizard">
							<div class="steps-container">
								<ul class="steps">
									<li data-step="1" class="active">
										<span class="badge badge-info">1</span>Account Type
										<span class="chevron"></span>
									</li>
									<li data-step="2">
										<span class="badge">2</span>User Account
										<span class="chevron"></span>
									</li>
									<li data-step="3">
										<span class="badge">3</span>Options
										<span class="chevron"></span>
									</li>
									<li data-step="4" class="last">
										<span class="badge">4</span>Create Account</li>
								</ul>
							</div>
							<div class="step-content">
								<div class="step-pane active" data-step="1">
									<form id="form1" data-parsley-validate novalidate>
										<p>Choose your account type:</p>
										<div class="fancy-radio">
											<label>
												<input type="radio" name="account-type" value="personal" required data-parsley-errors-container="#error-step1">
												<span><i></i>Personal</span>
											</label>
										</div>
										<div class="fancy-radio">
											<label class="fancy-radio">
												<input type="radio" name="account-type" value="business">
												<span><i></i>Business</span>
											</label>
										</div>
										<div class="fancy-radio">
											<label class="fancy-radio">
												<input type="radio" name="account-type" value="enterprise">
												<span><i></i>Enterprise</span>
											</label>
										</div>
										<p id="error-step1"></p>
									</form>
								</div>
								<div class="step-pane" data-step="2">
									<form id="form2" data-parsley-validate novalidate>
										<p>Please provide email, username and password
											<br/>
											<em>
												<small>Field marked * is required</small>
											</em>
										</p>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label" for="email">Email *</label>
													<input type="email" id="email" class="form-control" required>
												</div>
												<div class="form-group">
													<label class="control-label" for="password">Password *</label>
													<input type="password" id="password" name="password" class="form-control" required>
												</div>
												<div class="form-group">
													<label class="control-label" for="password2">Repeat Password *</label>
													<input type="password" id="password2" name="password2" class="form-control" required data-parsley-equalto="#password" data-parsley-equalto-message="Password doesn't match.">
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="step-pane" data-step="3">
									<form id="form3" data-parsley-validate novalidate>
										<div class="fancy-checkbox">
											<label>
												<input type="checkbox" name="newsletter">
												<span>Subscribe to monthly newsletter</span>
											</label>
										</div>
										<div class="fancy-checkbox">
											<label>
												<input type="checkbox" name="terms">
												<span>I accept the <a href="#">Terms &amp; Agreements</a></span>
											</label>
										</div>
									</form>
								</div>
								<div class="step-pane" data-step="4">
									<p class="lead"><i class="fa fa-check-circle text-success"></i> All is well! Click "Create My Account" to complete.</p>
								</div>
							</div>
							<div class="actions">
								<button type="button" class="btn btn-default btn-prev"><i class="fa fa-arrow-left"></i> Prev</button>
								<button type="button" class="btn btn-primary btn-next">Next <i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
<!--<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">-->
  <!--{% csrf_token %}-->
  <!--{{ form|crispy }}-->
  <!--{% if redirect_field_value %}-->
  <!--<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
  <!--{% endif %}-->
  <!--<button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>-->
<!--</form>-->

{% endblock %}

{% block js_script %}

<script>
		$(function()
		{
			$('#demo-wizard').wizard()
				.on('actionclicked.fu.wizard', function(e, data)
				{
					//validation
					if ($('#form' + data.step).length)
					{
						var parsleyForm = $('#form' + data.step).parsley();
						parsleyForm.validate();
						if (!parsleyForm.isValid())
							return false;
					}
					//last step button
					$btnNext = $(this).parents('.wizard-wrapper').find('.btn-next');
					if (data.step === 3 && data.direction == 'next')
					{
						$btnNext.text(' Create My Account')
							.prepend('<i class="fa fa-check-circle"></i>')
							.removeClass('btn-primary').addClass('btn-success');
					}
					else
					{
						$btnNext.text('Next ')
							.append('<i class="fa fa-arrow-right"></i>')
							.removeClass('btn-success').addClass('btn-primary');
					}
				}).on('finished.fu.wizard', function()
				{
					swal(
						'Awesome!',
						'Your account has been created',
						'success'
					).catch(swal.noop);
				});
		});
		</script>

{% endblock %}
