<div id="sidebar-nav" class="sidebar">
  <nav>
    <ul class="nav" id="sidebar-nav-menu">
      <li class="menu-group">Main</li>
      <li class="panel">
        <a href="#dashboards" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="active"><i class="ti-dashboard"></i> <span class="title">Dashboards</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="dashboards" class="collapse in">
          <ul class="submenu">
            <li><a href="index.html" class="active">Dashboard v1 <span class="label label-info">UPDATED</span></a></li>
            <li><a href="dashboard2.html">Dashboard v2 Prototype</a></li>
            <li><a href="dashboard3.html">Dashboard v3</a></li>
            <li><a href="dashboard4.html">Dashboard v4 <span class="label label-success">NEW</span></a></li>
          </ul>
        </div>
      </li>
      <li class="panel">
        <a href="#subLayouts" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-layout"></i> <span class="title">Layouts</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="subLayouts" class="collapse ">
          <ul class="submenu">
            <li><a href="layout-topnav.html">Top Navigation <span class="label label-success">NEW</span></a></li>
            <li><a href="layout-minified.html">Minified</a></li>
            <li><a href="layout-fullwidth.html">Fullwidth</a></li>
            <li><a href="layout-default.html">Default</a></li>
            <li><a href="layout-grid.html">Grid</a></li>
          </ul>
        </div>
      </li>
      <li class="panel">
        <a href="#forms" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-receipt"></i> <span class="title">Forms</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="forms" class="collapse ">
          <ul class="submenu">
            <li><a href="forms-inputs.html">Inputs</a></li>
            <li><a href="forms-multiselect.html">Multiselect</a></li>
            <li><a href="forms-input-pickers.html">Input Pickers</a></li>
            <li><a href="forms-input-sliders.html">Input Sliders</a></li>
            <li><a href="forms-select2.html">Select2</a></li>
            <li><a href="forms-xeditable.html">In-place Editing</a></li>
            <li><a href="forms-dragdropupload.html">Drag and Drop Upload</a></li>
            <li><a href="forms-layouts.html">Form Layouts</a></li>
            <li><a href="forms-validation.html">Form Validation</a></li>
            <li><a href="forms-texteditor.html">Text Editor</a></li>
          </ul>
        </div>
      </li>
      <li class="panel">
        <a href="#appViews" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-layout-tab-window"></i> <span class="title">App Views</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="appViews" class="collapse ">
          <ul class="submenu">
            <li><a href="appviews-project-detail.html">Project Details</a></li>
            <li><a href="appviews-projects.html">Projects</a></li>
            <li><a href="appviews-inbox.html">Inbox <span class="badge">8</span></a></li>
            <li><a href="appviews-file-manager.html">File Manager</a></li>
          </ul>
        </div>
      </li>
      <li class="panel">
        <a href="#tables" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-layout-grid2"></i> <span class="title">Tables</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="tables" class="collapse ">
          <ul class="submenu">
            <li><a href="tables-static.html">Static Tables</a></li>
            <li><a href="tables-dynamic.html">Dynamic Tables</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-group">Components</li>
      <li class="panel">
        <a href="#uiElements" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-panel"></i> <span class="title">UI Elements</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="uiElements" class="collapse ">
          <ul class="submenu">
            <li><a href="ui-sweetalert.html">Sweet Alert</a></li>
            <li><a href="ui-treeview.html">Tree View</a></li>
            <li><a href="ui-wizard.html">Wizard</a></li>
            <li><a href="ui-dragdrop-panel.html">Drag &amp; Drop Panel</a></li>
            <li><a href="ui-nestable.html">Nestable</a></li>
            <li><a href="ui-gauge.html">Gauge <span class="label label-success">NEW</span></a></li>
            <li><a href="ui-panels.html">Panels</a></li>
            <li><a href="ui-progressbars.html">Progress Bars</a></li>
            <li><a href="ui-tabs.html">Tabs</a></li>
            <li><a href="ui-buttons.html">Buttons <span class="label label-info">UPDATED</span></a></li>
            <li><a href="ui-bootstrap.html">Bootstrap UI</a></li>
            <li><a href="ui-social-buttons.html">Social Buttons</a></li>
            <li><a href="ui-icons.html">Icons</a></li>
          </ul>
        </div>
      </li>
      <li class="panel">
        <a href="#charts" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-pie-chart"></i> <span class="title">Charts</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="charts" class="collapse ">
          <ul class="submenu">
            <li><a href="charts-chartjs.html">Chart.js</a></li>
            <li><a href="charts-chartist.html">Chartist</a></li>
            <li><a href="charts-flot.html">Flot Chart</a></li>
            <li><a href="charts-sparkline.html">Sparkline Chart</a></li>
          </ul>
        </div>
      </li>
      <li><a href="widgets.html"><i class="ti-widget"></i> <span class="title">Widgets</span></a></li>
      <li><a href="notifications.html"><i class="ti-bell"></i> <span class="title">Notifications</span> <span class="badge">15</span></a></li>
      <li class="panel">
        <a href="#maps" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-map"></i> <span class="title">Maps</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="maps" class="collapse ">
          <ul class="submenu">
            <li><a href="maps-jqvmap.html">JQVMap</a></li>
            <li><a href="maps-mapael.html">Mapael</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-group">Extras</li>
      <li class="panel">
        <a href="#subPages" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-files"></i> <span class="title">Pages</span> <i class="icon-submenu ti-angle-left"></i></a>
        <div id="subPages" class="collapse ">
          <ul class="submenu">
            <li><a href="page-profile.html">Profile</a></li>
            <li><a href="page-login.html">Login</a></li>
            <li><a href="page-register.html">Register</a></li>
            <li><a href="page-lockscreen.html">Lockscreen</a></li>
            <li><a href="page-forgot-password.html">Forgot Password</a></li>
            <li><a href="page-404.html">Page 404</a></li>
            <li><a href="page-500.html">Page 500</a></li>
            <li><a href="page-blank.html">Blank Page</a></li>
          </ul>
        </div>
      </li>
      <li><a href="typography.html"><i class="ti-paragraph"></i> <span class="title">Typography</span></a></li>
      <li class="panel">
        <a href="#" data-toggle="collapse" data-target="#submenuDemo" data-parent="#sidebar-nav-menu" class="collapsed"><i class="ti-menu"></i> <span class="title">Multilevel Menu</span><i class="icon-submenu ti-angle-left"></i></a>
        <div id="submenuDemo" class="collapse">
          <ul class="submenu">
            <li class="panel">
              <a href="#" data-toggle="collapse" data-target="#submenuDemoLv2" class="collapsed">Submenu 1 <i class="icon-submenu ti-angle-left"></i></a>
              <div id="submenuDemoLv2" class="collapse">
                <ul class="submenu">
                  <li><a href="#">Another menu level</a></li>
                  <li><a href="#" class="active">Another menu level</a></li>
                  <li><a href="#">Another menu level</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Submenu 2</a></li>
            <li><a href="#">Submenu 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <button type="button" class="btn-toggle-minified" title="Toggle Minified Menu"><i class="ti-arrows-horizontal"></i></button>
  </nav>
</div>
